.cl-internal-7hb1uf {
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .cl-internal-1iu58mv {
    padding: 5px;
    background-color: transparent;
  }
  .cl-internal-4x6jej > :first-of-type {
    padding: 5px;
  }
  .cl-internal-1lf9jtw {
    font-size: 14px;
  }
  .cl-internal-1k58puq {
    background-color: transparent;
  }
}
.cl-internal-16mc20d {
  display: none;
}
.cl-internal-4x6jej {
  background: transparent !important;
}
.cl-internal-zar2af {
  box-shadow: none !important;
}

.cl-internal-zar2af .cl-internal-1k58puq {
  background-color: transparent !important;
}

.cl-cardBox .cl-signIn-start .cl-internal-p8bmz4 {
  box-shadow: none !important;
}
.cl-footer 🔒️ .cl-internal-vorlia {
  background: none !important;
}